@font-face {
  font-family: "My Custom Font";
  src: url("Bungee-Regular.ttf") format("truetype");
}

body {
  font-family: "My Custom Font", Arial, sans-serif;
  color: #fd7901;
  background-color: #ededed;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  margin: 50px auto;
  max-width: 600px;
  font-family: "My Custom Font", Arial, sans-serif;
}

.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.column-left {
  width: 45%;
  background-color: #28a745;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-right {
  width: 45%;
  background-color: #dc3545;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  max-width: 600px;
}

.search-box {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border: 1px dashed #ffffff;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  font-family: "My Custom Font", Arial, sans-serif;

}

.search-button {
  background-color: #fd7901;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
    font-family: "My Custom Font", Arial, sans-serif;

}

.search-button:hover {
  background-color: #e36d00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.percent {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.recommendation {
  font-size: 20px;
  font-weight: normal;
  color: #424242;
}

img {
  max-width: 100%;
  max-height: 100%;
}



/* @font-face {
  font-family: "My Custom Font";
  src: url("Bungee-Regular.ttf") format("ttf");
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "My Custom Font", Arial, sans-serif;
  color: #202124;
  background-color: white;
  padding: 20px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.column-left {
  width: 45%;
  background-color: #28a745;
  color: white;
  font-family: "My Custom Font", Arial, sans-serif;
  padding: 20px;
  border-radius: 4px;
}

.column-right {
  width: 45%;
  background-color: #dc3545;
  font-family: "My Custom Font", Arial, sans-serif;
  color: white;
  padding: 20px;
  border-radius: 4px;
}

.message-box {
  margin-top: 20px;
  max-width: 600px;
}

.search-box {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border: 2px dashed #fd7901;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
}

.search-button {
  background-color: #fd7901;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 16px;
}

.search-button:hover {
  background-color: #fd7901;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.percent {
  font-size: 50px;
}
 */